@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSansBold.eot');
    src: url('../fonts/OpenSansBold.eot') format('embedded-opentype'),
         url('../fonts/OpenSansBold.woff2') format('woff2'),
         url('../fonts/OpenSansBold.woff') format('woff'),
         url('../fonts/OpenSansBold.ttf') format('truetype'),
         url('../fonts/OpenSansBold.svg#OpenSansBold') format('svg');
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSansRegular.eot');
    src: url('../fonts/OpenSansRegular.eot') format('embedded-opentype'),
         url('../fonts/OpenSansRegular.woff2') format('woff2'),
         url('../fonts/OpenSansRegular.woff') format('woff'),
         url('../fonts/OpenSansRegular.ttf') format('truetype'),
         url('../fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}

@font-face {
    font-family: 'OpenSansExtraBold';
    src: url('../fonts/OpenSansExtraBold.eot');
    src: url('../fonts/OpenSansExtraBold.eot') format('embedded-opentype'),
         url('../fonts/OpenSansExtraBold.woff2') format('woff2'),
         url('../fonts/OpenSansExtraBold.woff') format('woff'),
         url('../fonts/OpenSansExtraBold.ttf') format('truetype'),
         url('../fonts/OpenSansExtraBold.svg#OpenSansExtraBold') format('svg');
}


/*	variables	*/
$font-reg: 'OpenSansRegular', sans-serif;
$font-black: 'OpenSansExtraBold', sans-serif;
$font-bold: 'OpenSansBold', sans-serif;

$mobile: "screen and (max-width : 480px)";
$tablet-portrait: "screen and (max-width : 640px)";
$tablet-landscape: "screen and (max-width : 960px)";
$desk: "screen and (max-width : 1180px)";

/* colors */
/* colors */

$green:      	#004834;
$lightgreen:	#276352;
$black:			#241617;
$grey:			#e7e7e7;

$red:			#ff000d;
$lightred:		#8e0b06;
$white:			#FFFFFF;
$darkgrey:		#363636;
$brown: 		#5b331e;
$olive:			#59442b;
$orange:		#ff6600;
$blue:			#005379;
$lightblue:		#84acfc;