@import "normalize";
@import "css3-mixins";
@import "grid";
@import "variables";

a, a:focus, a:active,  a:hover{text-decoration: none; outline: 0 none;}
a{ color:$black; text-decoration:none;}
input, textarea, button{ border:0 none;
	-webkit-appearance: none;
  	-webkit-border-radius: 0;
}
img {@include transition(.2s, linear);}
h1, h2, h3, h4, h5, h6{ margin:0; font-weight:normal; line-height:1;}
ul{ margin:0; padding:0; list-style:none;}
ol{ margin:0; padding:0;}
ul li, p{ margin:0; padding:0;}
b, strong{ font-family:$font-bold; font-weight:normal; }

::-webkit-input-placeholder { color: $black;}
:-moz-placeholder { color: $black; opacity: 1;}
::-moz-placeholder { color: $black; opacity: 1;}
:-ms-input-placeholder { color: $black;}

::selection { background: $green; color:$white;}
::-moz-selection { background: $green; color:$white;}

*:focus{ outline: none;}
select { background:$white; -webkit-border-radius: 0px;}

/*	@include classes	*/
.clear{ clear:both;
	&:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;}
}
.clearfix:before,.clearfix:after { content: " "; display: table;}
.clearfix:after{ clear: both;}
.clearfix{ *zoom: 1;}

.left{ float:left;}
.right{ float:right;}
.hide{ display:none;}
.show{ display:block;}
.red{ color:$red;}

.center{ text-align:center;}
.non-mobile{ display:block;}
.mobile{ display:none; }

/*	@exclude mixin	*/
@mixin v-middle {
  position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);
}
@mixin vertical-align34{
  position: absolute; top: 34%; -webkit-transform: translateY(-34%); -ms-transform: translateY(-34%); transform: translateY(-34%);
}

.green-gradient{
	background: #7cc3c5;
	background: -moz-linear-gradient(left,  #7cc3c5 0%, #7fdaca 58%, #82e5cd 100%);	
	background: linear-gradient(to right,  #7cc3c5 0%,#7fdaca 58%,#82e5cd 100%);
	background: -webkit-linear-gradient(left,  #7cc3c5 0%,#7fdaca 58%,#82e5cd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cc3c5', endColorstr='#82e5cd',GradientType=1 );
}

/* ICON */
@mixin icon($index, $size, $image) {
    line-height: 1; vertical-align: middle;
    &:before {        
        $columns: 4; /*Number of icons going across*/
        background-image: url(../images/#{$image}); background-size: $columns * 100%; background-repeat:no-repeat;
        width: #{$size}px; height: #{$size}px;
        background-position: #{(100/($columns - 1)*($index - 1))}% 0;   
        content: ""; display: inline-block; line-height: #{$size}px; vertical-align: middle; /*margin-right: #{$size/4}px; */
    }
}

.buttons{ text-align:center;
	a, input, button{ color:$white; background:$black; display:inline-block; font-size:1.8em; font-family:$font-bold; padding:1em 0.8em; @include border-radius(15px); @include box-sizing; }	
	&.margin-bot{ margin-bottom:5em;}
}

/*	page 	*/
html, body{ height:100%;}
body{  color:$black; background:$white; font-family: $font-reg; font-size:10px; line-height:1; overflow-x: hidden;}
.main-container{ position:relative; width:91%; margin:0 auto;}
.page-container{ max-width: 1130px; margin:0 auto; width:90%; position:relative;}


/*---------------Header----------------*/
header{ 
	.logo{ padding:1.5em 0; text-align:center; @include transition(all, 1s, ease-in-out);
		img{ width:100%; height:auto; max-width:125px;}
		&.sm{ padding:1.5em 0; 
			img{ max-width:100px;}
		}
	}
}

/*---------------Container----------------*/

.home-banner{ position:relative;
	.copy-area{ position:absolute; @include v-middle; width:70%; left:5%;; z-index:10;		
		h1{ font-size:3.6em; font-family:$font-black; color:$white; line-height:1.8; margin-bottom:0.5em;
			span{ /*background:rgba(0,72,52,0.83); padding:5px 0;*/}
			.highlight{ background: rgba(0, 72, 52, 0.83) none repeat scroll 0 0; -webkit-box-decoration-break: clone; -ms-box-decoration-break: clone;	-o-box-decoration-break: clone;	box-decoration-break: clone; display: inline; padding: 0.1em 0.5em;
				a{ color:$white; text-decoration:underline;}
			}
		}
		p{ font-size:2em; margin-bottom:0.8em; font-family:$font-bold;
			a{ text-decoration:underline;}
		}
		.link{ font-size:2em; margin-bottom:0.8em;  font-family:$font-bold;
			span{ float:left; margin-right:0.5em;}
			img{ float:left; margin-right:0.5em;}	
		}
	}
	.bg{ position:relative;		
		.banner{ display:block;
			img{ display:block; width:100%; height:auto;}
			.home{ }
			.prizes{}
			&.non-mobile{ display:block;}
			&.mobile{ display: none;}
		}
		.little-pony{ position:absolute; bottom:-3em; right:0; max-width:15%;
			img{ width:100%; height:auto;}
		}
	}
}

.form-steps{ 
	text-align:center; background:$green; padding:3em 0; margin-bottom:7em; color:$white;
	ol{ text-align: center; counter-reset: li-counter;
		li{ display:inline-block; position:relative; padding: 0.1em 0 0.2em 2em; font-size:2.6em; margin:0 1em;
			&:before{ position: absolute; top: -0.2em; left: 0; width: 1.5em; height: 1.5em; font-size: 1em; line-height: 1.5; text-align: center; border: 2px solid $white; @include border-radius(50%); background-color: transparent; content: counter(li-counter); counter-increment: li-counter;}
		}	
	}
}
.form-container{ width:100%; background:$grey; position:relative; padding-top:3.5em;
	/*&:after{ content:""; background: url(../images/form-bg.png) left bottom no-repeat; background-size:100% auto; left:-5%; bottom:-10em; z-index:10; position:absolute; width:110%; height:120%;}*/
	&:before{ content:""; background: url(../images/form-bg-left.png) left bottom no-repeat; background-size:100% auto; left:-5%; width:20%; bottom:-15%; z-index:10; position:absolute; height:120%; max-width:365px;}
	&:after{ content:""; background: url(../images/form-bg-right.png) left bottom no-repeat; background-size:100% auto; right:-5%; width:32%; bottom:-10%; z-index:10; position:absolute; height:120%; max-width:570px;}
		
	h3{ font-size:2.6em; padding-bottom:2em; font-family:$font-black; text-align:center; position:relative; margin-bottom:0.5em;
		&:after{ content:""; background: url(../images/head-seprator.png) center center no-repeat; background-size:contain; position:absolute; width:100%; left:0; bottom:0; height:45px;}
	}
	h4{ font-size:2.2em; padding-bottom:1em; font-family:$font-black; text-align:center;}
	p{ text-align:center; font-size:1.6em; margin-bottom:2em;}
	figure{ text-align:center;
		img{ max-width:90%; height:auto;}	
	}
}



/*---------------Footer----------------*/

footer{ background:$grey url(../images/footer-bg.png) right top no-repeat; background-size:130% auto; padding:10em 3% 3em; position:relative; 
	.links{ font-size:1.2em; color:$white; text-align:center;
		a{ color:$white;}
	}
	&.footer-promo-over{ background:$white; padding:3em 3%;
		.links{  color:$green;
			a{ color:$green;}
		}
	}
}

.popup-area{ padding:0;
	h1{ font-family:$font-bold; color:$red; text-transform:uppercase; font-size:6em; text-align:center; margin-bottom:0.4em;}
	h3{ font-family:$font-black; color:$green; font-size:4em; text-align:center; margin-bottom:0.4em;}	
	p{ font-size:2em; margin-bottom:1em; text-align:center;
		a{ text-decoration:underline;}
	}
	p.small{ font-size:1.6em;}
	.buttons{
		a{ font-size:2.3em;}	
	}
	.prize-area{ padding:9em 5% 0;
		figure{ text-align:center; margin-bottom:2em;
			img{ max-width:90%; height:auto;}	
		}		
	}
	.rules-data{ padding:5em 2% 1em; line-height:1.2; height:500px; overflow:auto;
		h3{ text-transform:uppercase;}
		p{ margin-bottom:1em; text-align:left; font-size:1.4em;}
		ol, ul{ margin-bottom:1em; margin-left:1em; font-size:13px;}
		li{ margin-bottom:0.5em; margin-left:1em;  text-align:left;}
		
		
		.col{ border-top:6px solid $lightgreen; padding-top:1em;}	
		.col1{ width:30%;}
		.col2{ width:30%; margin-left:5%;}
		.col3{ width:30%; margin-left:5%;}
	}
	
	.footer{ background:$green; text-align:center; color:$white; font-size:1.8em; padding:1em 2%; line-height:1.2;
		a{ color:$white; text-decoration:underline;}
	}
	
	.external-img{ bottom: -10%; position: absolute; text-align: right; max-width:50%;
		&.right{ right: -20%;  max-width:36%;}
		&.left{ left: -20%; bottom: -20%;}
		img{ width:100%; height:auto;}
	}
}
.page-form{ margin:0 auto; width:90%; max-width:844px; min-height:700px; position:relative; z-index:11;
	.element{  margin-bottom:4em;
		&.center{ margin:0 auto 4em; width:50%;}
	}
	input[type="text"]{ background: none; border:1px solid #365d50; line-height:1.3; @include box-sizing; color:$black; padding:1em; font-size:1.6em; width:100%;}	
	input[type="text"].enter-code{ font-family:$font-bold; margin-top:1em; width:60%;}
	input[type="text"].error{ border-color:$red;
		&::-webkit-input-placeholder { color: $red;}
		&:-moz-placeholder { color: $red;}
		&::-moz-placeholder { color: $red; }
		&:-ms-input-placeholder { color: $red;}
	}
	.left{ width:48%;}
	.right{ width:48%;}
	
	.buttons{ margin-bottom:0 !important;
		a, input{ width:100%; }	
	}	
	
	.error-msg{ color:$red; font-size:1.6em; text-align:center; margin:0 auto 1em; max-width:600px; width:90%;}	
	.tnc{ text-align:left; color:$black; margin:0 auto 2em; width:96%; max-width:600px;
		  input[type=checkbox].css-checkbox {	position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;}
		  input[type=checkbox].css-checkbox + label.css-label { text-indent:0; padding-left:2em; font-size:1.6em; font-weight:normal; min-height:29px; line-height:1.3; display:inline-block; background-repeat:no-repeat; background-position: 0 0; vertical-align:middle; cursor:pointer;}
		  input[type=checkbox].css-checkbox:checked + label.css-label { background-position: 0 -290px;}
		  input[type=checkbox].css-checkbox + label.css-label.error { background-position: 0 -551px; }
		  label.css-label {  font-size:1em; background-image:url(../images/chk-box.png); -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none;	-moz-user-select: none;	-ms-user-select: none; user-select: none;
		  	a{ text-decoration:underline;}
		  }	
	}
	/*----Browse-----*/
	.inputfile { width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: -1;}
	.inputfile + label { width: 100%; font-size: 1.8em; text-overflow: ellipsis; white-space: nowrap; cursor: pointer; display: block; @include box-sizing; overflow: hidden; border:1px solid #365d50; padding:1em;}
	.inputfile.error + label{ border-color:$red;}
	.no-js .inputfile + label { display: none;}
	.inputfile:focus + label,
	.inputfile.has-focus + label {
		outline: 1px dotted #000;
		outline: -webkit-focus-ring-color auto 5px;
	}
	
	.custom-file-input input { visibility: hidden; width: 100px; position:absolute; left:0; top:0;}
	.custom-file-input { display: block; color:$black; border: 3px solid $darkgrey; padding: 0.8em 1em; outline: none; @include box-sizing; line-height:1.3;	cursor: pointer; text-align: center; font-size: 1.6em; border-left:0 none;}
}



@media #{$desk} { /*1180px*/
	header .logo {
    	padding: 1.5em 0;
	}
	.home-banner{ 
		.copy-area{ width: 65%;
			h1{ font-size:3em;}
			p{ font-size:1.8em;}
			.link{ font-size: 1.8em;
				img{ max-height: 22px;}
			}
		}
	}
	.form-steps{ 
		ol li{ font-size: 2.4em; margin:0 0.5em;}
	}
	.form-container{
		h3{ font-size: 2.4em;}
		h4{ font-size: 2.1em;}
		p{ font-size: 1.6em;}
	}
	.page-form{
		input[type="text"]{ font-size: 1.6em;}
		.inputfile + label{ font-size: 1.6em;}
		.tnc{ max-width: 500px;
			input.css-checkbox[type="checkbox"] + label.css-label{ font-size: 1.6em;}	
		}
	}
	.popup-area{
		.external-img{ display:none;}	
	}
	footer{ background-size:cover;}
}

@media #{$tablet-landscape} { /*960px*/	
	
	.home-banner{ 
		.copy-area{ 
			h1{ font-size:2em;}
			p{ }
			.link{ 
				img{ max-height: 20px;}
			}
		}
	}
	.form-container{  padding: 3.5em 0;
		&:after, &:before{ display:none; background:none;}	
	}
	.page-form{ min-height: auto;}
	.popup-area{ 
		.prize-area{ padding: 5em 5% 0; }
		h3{ font-size:3em;}
		footer{ font-size: 1.6em;}
	}
	.form-steps{ 
		ol li{ font-size: 1.8em;}
	}
	footer{ padding: 6em 3% 3em;}
}

@media #{$tablet-portrait} {/*640px*/
	.main-container{ width:100%;}	
	.home-banner{ 
		.copy-area{ position:relative; width:100%; top:auto; -webkit-transform:none; -moz-transform:none; transform:none; left:auto; background:#e8e8e8; @include box-sizing; padding:2em 0;
			h1{ line-height:1.8;}
			p{ text-align:center; font-size:1.6em;}
			.link{ font-size: 1.6em; padding-left:0.5em;}
		}
		.bg{ 
			.banner{ margin-bottom:0; padding-bottom:3em; background:#e8e8e8;}
			.little-pony{ bottom:0; max-width:30%;}
			.banner{
				&.non-mobile{ display:none;}
				&.mobile{ display: block;}	
			}
		}
	}
	.form-steps{ margin-bottom:1em; padding: 1em 0;
		ol{ width:80%; margin:0 auto;
			li{ font-size: 1.8em; display:block; text-align:left; margin:1.2em 0.5em;}
		}
	}
	.form-container{  padding: 3.5em 0;
		p{ font-size: 1.5em;
			br{ display:none;}
		}
	}
	
	.page-form{ 
		.element{ margin-bottom:2em;
			&.center{ width: 100%; margin-bottom:2em;}	
		}
		.left, .right{ float:none; width: 100%; }
		.error-msg{ font-size: 1.4em;}
		.tnc{ 
			input.css-checkbox[type="checkbox"] + label.css-label{ font-size: 1.4em; padding-left: 2.5em;}	
		}
		.buttons{ 
			a, input, button{ font-size: 1.6em;}	
		}
	}
	.popup-area{ 
		.prize-area{ padding: 4em 4% 0; }
		h3{ font-size:2.4em;}
		.footer{ font-size: 1.6em;}
	}
}

@media #{$mobile} {/*480px*/
	header{
		.logo img{ max-width:90px;}	
	}
	.home-banner{ 
		.copy-area{
			p{ font-size: 1.4em;}	
		}
	}
	.form-container{  padding: 2.5em 0;
		h4{ padding-bottom:0.5em;}
	}
	.page-form{ 
		input[type="text"] { font-size: 1.4em;}
		.tnc{ 
			input.css-checkbox[type="checkbox"] + label.css-label{ font-size: 1.3em;}	
		}
		.error-msg{ font-size: 1.3em;}
		.upload{ margin-top:4em;}
	}
	.popup-area{ 		
		h3{ font-size:2.1em;}
		.footer{ font-size: 1.4em;}
	}
}
