article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: ""; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 50%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.8em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)

------------------------------------------------------------- */
/* ADDS A BROWSER PREFIX TO THE PROPERTY */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BACKGROUND COLOR OPACITY */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSFORM STYLE */
/* TRANSITION */
/* TRIPLE BORDERS */
/* KEYFRAMES */
/* ANIMATION */
.container {
  padding: 0 0;
  margin: 0 auto;
  max-width: 1280px;
  width: 90%; }

@media only screen and (min-width: 641px) {
  .container {
    width: 85%; } }

@media only screen and (min-width: 961px) {
  .container {
    width: 70%; } }

.container .row {
  margin-left: 0;
  margin-right: 0; }

.section {
  padding-top: 1rem;
  padding-bottom: 1rem; }
  .section.no-pad {
    padding: 0; }
  .section.no-pad-bot {
    padding-bottom: 0; }
  .section.no-pad-top {
    padding-top: 0; }

.row {
  margin-left: auto;
  margin-right: auto; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row .col {
    float: left;
    -khtml-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
    .row .col.s1 {
      width: 8.3333333333%;
      margin-left: 0; }
    .row .col.s2 {
      width: 16.6666666667%;
      margin-left: 0; }
    .row .col.s3 {
      width: 25%;
      margin-left: 0; }
    .row .col.s4 {
      width: 33.3333333333%;
      margin-left: 0; }
    .row .col.s5 {
      width: 41.6666666667%;
      margin-left: 0; }
    .row .col.s6 {
      width: 50%;
      margin-left: 0; }
    .row .col.s7 {
      width: 58.3333333333%;
      margin-left: 0; }
    .row .col.s8 {
      width: 66.6666666667%;
      margin-left: 0; }
    .row .col.s9 {
      width: 75%;
      margin-left: 0; }
    .row .col.s10 {
      width: 83.3333333333%;
      margin-left: 0; }
    .row .col.s11 {
      width: 91.6666666667%;
      margin-left: 0; }
    .row .col.s12 {
      width: 100%;
      margin-left: 0; }
    .row .col.offset-s1 {
      margin-left: 8.3333333333%; }
    .row .col.offset-s2 {
      margin-left: 16.6666666667%; }
    .row .col.offset-s3 {
      margin-left: 25%; }
    .row .col.offset-s4 {
      margin-left: 33.3333333333%; }
    .row .col.offset-s5 {
      margin-left: 41.6666666667%; }
    .row .col.offset-s6 {
      margin-left: 50%; }
    .row .col.offset-s7 {
      margin-left: 58.3333333333%; }
    .row .col.offset-s8 {
      margin-left: 66.6666666667%; }
    .row .col.offset-s9 {
      margin-left: 75%; }
    .row .col.offset-s10 {
      margin-left: 83.3333333333%; }
    .row .col.offset-s11 {
      margin-left: 91.6666666667%; }
    .row .col.offset-s12 {
      margin-left: 100%; }
    @media only screen and (min-width: 641px) {
      .row .col.m1 {
        width: 8.3333333333%;
        margin-left: 0; }
      .row .col.m2 {
        width: 16.6666666667%;
        margin-left: 0; }
      .row .col.m3 {
        width: 25%;
        margin-left: 0; }
      .row .col.m4 {
        width: 33.3333333333%;
        margin-left: 0; }
      .row .col.m5 {
        width: 41.6666666667%;
        margin-left: 0; }
      .row .col.m6 {
        width: 50%;
        margin-left: 0; }
      .row .col.m7 {
        width: 58.3333333333%;
        margin-left: 0; }
      .row .col.m8 {
        width: 66.6666666667%;
        margin-left: 0; }
      .row .col.m9 {
        width: 75%;
        margin-left: 0; }
      .row .col.m10 {
        width: 83.3333333333%;
        margin-left: 0; }
      .row .col.m11 {
        width: 91.6666666667%;
        margin-left: 0; }
      .row .col.m12 {
        width: 100%;
        margin-left: 0; }
      .row .col.offset-m1 {
        margin-left: 8.3333333333%; }
      .row .col.offset-m2 {
        margin-left: 16.6666666667%; }
      .row .col.offset-m3 {
        margin-left: 25%; }
      .row .col.offset-m4 {
        margin-left: 33.3333333333%; }
      .row .col.offset-m5 {
        margin-left: 41.6666666667%; }
      .row .col.offset-m6 {
        margin-left: 50%; }
      .row .col.offset-m7 {
        margin-left: 58.3333333333%; }
      .row .col.offset-m8 {
        margin-left: 66.6666666667%; }
      .row .col.offset-m9 {
        margin-left: 75%; }
      .row .col.offset-m10 {
        margin-left: 83.3333333333%; }
      .row .col.offset-m11 {
        margin-left: 91.6666666667%; }
      .row .col.offset-m12 {
        margin-left: 100%; } }
    @media only screen and (min-width: 961px) {
      .row .col.l1 {
        width: 8.3333333333%;
        margin-left: 0; }
      .row .col.l2 {
        width: 16.6666666667%;
        margin-left: 0; }
      .row .col.l3 {
        width: 25%;
        margin-left: 0; }
      .row .col.l4 {
        width: 33.3333333333%;
        margin-left: 0; }
      .row .col.l5 {
        width: 41.6666666667%;
        margin-left: 0; }
      .row .col.l6 {
        width: 50%;
        margin-left: 0; }
      .row .col.l7 {
        width: 58.3333333333%;
        margin-left: 0; }
      .row .col.l8 {
        width: 66.6666666667%;
        margin-left: 0; }
      .row .col.l9 {
        width: 75%;
        margin-left: 0; }
      .row .col.l10 {
        width: 83.3333333333%;
        margin-left: 0; }
      .row .col.l11 {
        width: 91.6666666667%;
        margin-left: 0; }
      .row .col.l12 {
        width: 100%;
        margin-left: 0; }
      .row .col.offset-l1 {
        margin-left: 8.3333333333%; }
      .row .col.offset-l2 {
        margin-left: 16.6666666667%; }
      .row .col.offset-l3 {
        margin-left: 25%; }
      .row .col.offset-l4 {
        margin-left: 33.3333333333%; }
      .row .col.offset-l5 {
        margin-left: 41.6666666667%; }
      .row .col.offset-l6 {
        margin-left: 50%; }
      .row .col.offset-l7 {
        margin-left: 58.3333333333%; }
      .row .col.offset-l8 {
        margin-left: 66.6666666667%; }
      .row .col.offset-l9 {
        margin-left: 75%; }
      .row .col.offset-l10 {
        margin-left: 83.3333333333%; }
      .row .col.offset-l11 {
        margin-left: 91.6666666667%; }
      .row .col.offset-l12 {
        margin-left: 100%; } }

@font-face {
  font-family: 'OpenSansBold';
  src: url("../fonts/OpenSansBold.eot");
  src: url("../fonts/OpenSansBold.eot") format("embedded-opentype"), url("../fonts/OpenSansBold.woff2") format("woff2"), url("../fonts/OpenSansBold.woff") format("woff"), url("../fonts/OpenSansBold.ttf") format("truetype"), url("../fonts/OpenSansBold.svg#OpenSansBold") format("svg"); }

@font-face {
  font-family: 'OpenSansRegular';
  src: url("../fonts/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular.eot") format("embedded-opentype"), url("../fonts/OpenSansRegular.woff2") format("woff2"), url("../fonts/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular.ttf") format("truetype"), url("../fonts/OpenSansRegular.svg#OpenSansRegular") format("svg"); }

@font-face {
  font-family: 'OpenSansExtraBold';
  src: url("../fonts/OpenSansExtraBold.eot");
  src: url("../fonts/OpenSansExtraBold.eot") format("embedded-opentype"), url("../fonts/OpenSansExtraBold.woff2") format("woff2"), url("../fonts/OpenSansExtraBold.woff") format("woff"), url("../fonts/OpenSansExtraBold.ttf") format("truetype"), url("../fonts/OpenSansExtraBold.svg#OpenSansExtraBold") format("svg"); }

/*	variables	*/
/* colors */
/* colors */
a, a:focus, a:active, a:hover {
  text-decoration: none;
  outline: 0 none; }

a {
  color: #241617;
  text-decoration: none; }

input, textarea, button {
  border: 0 none;
  -webkit-appearance: none;
  -webkit-border-radius: 0; }

img {
  -khtml-transition: 0.2s linear ease-in-out;
  transition: 0.2s linear ease-in-out; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
  line-height: 1; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

ol {
  margin: 0;
  padding: 0; }

ul li, p {
  margin: 0;
  padding: 0; }

b, strong {
  font-family: "OpenSansBold", sans-serif;
  font-weight: normal; }

::-webkit-input-placeholder {
  color: #241617; }

:-moz-placeholder {
  color: #241617;
  opacity: 1; }

::-moz-placeholder {
  color: #241617;
  opacity: 1; }

:-ms-input-placeholder {
  color: #241617; }

::-moz-selection {
  background: #004834;
  color: #FFFFFF; }

::selection {
  background: #004834;
  color: #FFFFFF; }

::-moz-selection {
  background: #004834;
  color: #FFFFFF; }

*:focus {
  outline: none; }

select {
  background: #FFFFFF;
  -webkit-border-radius: 0px; }

/*	@include classes	*/
.clear {
  clear: both; }
  .clear:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.left {
  float: left; }

.right {
  float: right; }

.hide {
  display: none; }

.show {
  display: block; }

.red {
  color: #ff000d; }

.center {
  text-align: center; }

.non-mobile {
  display: block; }

.mobile {
  display: none; }

/*	@exclude mixin	*/
.green-gradient {
  background: #7cc3c5;
  background: linear-gradient(to right, #7cc3c5 0%, #7fdaca 58%, #82e5cd 100%);
  background: -webkit-linear-gradient(left, #7cc3c5 0%, #7fdaca 58%, #82e5cd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cc3c5', endColorstr='#82e5cd',GradientType=1 ); }

/* ICON */
.buttons {
  text-align: center; }
  .buttons a, .buttons input, .buttons button {
    color: #FFFFFF;
    background: #241617;
    display: inline-block;
    font-size: 1.8em;
    font-family: "OpenSansBold", sans-serif;
    padding: 1em 0.8em;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    -khtml-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
  .buttons.margin-bot {
    margin-bottom: 5em; }

/*	page 	*/
html, body {
  height: 100%; }

body {
  color: #241617;
  background: #FFFFFF;
  font-family: "OpenSansRegular", sans-serif;
  font-size: 10px;
  line-height: 1;
  overflow-x: hidden; }

.main-container {
  position: relative;
  width: 91%;
  margin: 0 auto; }

.page-container {
  max-width: 1130px;
  margin: 0 auto;
  width: 90%;
  position: relative; }

/*---------------Header----------------*/
header .logo {
  padding: 1.5em 0;
  text-align: center;
  -khtml-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }
  header .logo img {
    width: 100%;
    height: auto;
    max-width: 125px; }
  header .logo.sm {
    padding: 1.5em 0; }
    header .logo.sm img {
      max-width: 100px; }

/*---------------Container----------------*/
.home-banner {
  position: relative; }
  .home-banner .copy-area {
    position: absolute;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70%;
    left: 5%;
    z-index: 10; }
    .home-banner .copy-area h1 {
      font-size: 3.6em;
      font-family: "OpenSansExtraBold", sans-serif;
      color: #FFFFFF;
      line-height: 1.8;
      margin-bottom: 0.5em; }
      .home-banner .copy-area h1 span {
        /*background:rgba(0,72,52,0.83); padding:5px 0;*/ }
      .home-banner .copy-area h1 .highlight {
        background: rgba(0, 72, 52, 0.83) none repeat scroll 0 0;
        -webkit-box-decoration-break: clone;
        -ms-box-decoration-break: clone;
        -o-box-decoration-break: clone;
        box-decoration-break: clone;
        display: inline;
        padding: 0.1em 0.5em; }
        .home-banner .copy-area h1 .highlight a {
          color: #FFFFFF;
          text-decoration: underline; }
    .home-banner .copy-area p {
      font-size: 2em;
      margin-bottom: 0.8em;
      font-family: "OpenSansBold", sans-serif; }
      .home-banner .copy-area p a {
        text-decoration: underline; }
    .home-banner .copy-area .link {
      font-size: 2em;
      margin-bottom: 0.8em;
      font-family: "OpenSansBold", sans-serif; }
      .home-banner .copy-area .link span {
        float: left;
        margin-right: 0.5em; }
      .home-banner .copy-area .link img {
        float: left;
        margin-right: 0.5em; }
  .home-banner .bg {
    position: relative; }
    .home-banner .bg .banner {
      display: block; }
      .home-banner .bg .banner img {
        display: block;
        width: 100%;
        height: auto; }
      .home-banner .bg .banner.non-mobile {
        display: block; }
      .home-banner .bg .banner.mobile {
        display: none; }
    .home-banner .bg .little-pony {
      position: absolute;
      bottom: -3em;
      right: 0;
      max-width: 15%; }
      .home-banner .bg .little-pony img {
        width: 100%;
        height: auto; }

.form-steps {
  text-align: center;
  background: #004834;
  padding: 3em 0;
  margin-bottom: 7em;
  color: #FFFFFF; }
  .form-steps ol {
    text-align: center;
    counter-reset: li-counter; }
    .form-steps ol li {
      display: inline-block;
      position: relative;
      padding: 0.1em 0 0.2em 2em;
      font-size: 2.6em;
      margin: 0 1em; }
      .form-steps ol li:before {
        position: absolute;
        top: -0.2em;
        left: 0;
        width: 1.5em;
        height: 1.5em;
        font-size: 1em;
        line-height: 1.5;
        text-align: center;
        border: 2px solid #FFFFFF;
        -khtml-border-radius: 50%;
        border-radius: 50%;
        background-color: transparent;
        content: counter(li-counter);
        counter-increment: li-counter; }

.form-container {
  width: 100%;
  background: #e7e7e7;
  position: relative;
  padding-top: 3.5em;
  /*&:after{ content:""; background: url(../images/form-bg.png) left bottom no-repeat; background-size:100% auto; left:-5%; bottom:-10em; z-index:10; position:absolute; width:110%; height:120%;}*/ }
  .form-container:before {
    content: "";
    background: url(../images/form-bg-left.png) left bottom no-repeat;
    background-size: 100% auto;
    left: -5%;
    width: 20%;
    bottom: -15%;
    z-index: 10;
    position: absolute;
    height: 120%;
    max-width: 365px; }
  .form-container:after {
    content: "";
    background: url(../images/form-bg-right.png) left bottom no-repeat;
    background-size: 100% auto;
    right: -5%;
    width: 32%;
    bottom: -10%;
    z-index: 10;
    position: absolute;
    height: 120%;
    max-width: 570px; }
  .form-container h3 {
    font-size: 2.6em;
    padding-bottom: 2em;
    font-family: "OpenSansExtraBold", sans-serif;
    text-align: center;
    position: relative;
    margin-bottom: 0.5em; }
    .form-container h3:after {
      content: "";
      background: url(../images/head-seprator.png) center center no-repeat;
      background-size: contain;
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      height: 45px; }
  .form-container h4 {
    font-size: 2.2em;
    padding-bottom: 1em;
    font-family: "OpenSansExtraBold", sans-serif;
    text-align: center; }
  .form-container p {
    text-align: center;
    font-size: 1.6em;
    margin-bottom: 2em; }
  .form-container figure {
    text-align: center; }
    .form-container figure img {
      max-width: 90%;
      height: auto; }

/*---------------Footer----------------*/
footer {
  background: #e7e7e7 url(../images/footer-bg.png) right top no-repeat;
  background-size: 130% auto;
  padding: 10em 3% 3em;
  position: relative; }
  footer .links {
    font-size: 1.2em;
    color: #FFFFFF;
    text-align: center; }
    footer .links a {
      color: #FFFFFF; }
  footer.footer-promo-over {
    background: #FFFFFF;
    padding: 3em 3%; }
    footer.footer-promo-over .links {
      color: #004834; }
      footer.footer-promo-over .links a {
        color: #004834; }

.popup-area {
  padding: 0; }
  .popup-area h1 {
    font-family: "OpenSansBold", sans-serif;
    color: #ff000d;
    text-transform: uppercase;
    font-size: 6em;
    text-align: center;
    margin-bottom: 0.4em; }
  .popup-area h3 {
    font-family: "OpenSansExtraBold", sans-serif;
    color: #004834;
    font-size: 4em;
    text-align: center;
    margin-bottom: 0.4em; }
  .popup-area p {
    font-size: 2em;
    margin-bottom: 1em;
    text-align: center; }
    .popup-area p a {
      text-decoration: underline; }
  .popup-area p.small {
    font-size: 1.6em; }
  .popup-area .buttons a {
    font-size: 2.3em; }
  .popup-area .prize-area {
    padding: 9em 5% 0; }
    .popup-area .prize-area figure {
      text-align: center;
      margin-bottom: 2em; }
      .popup-area .prize-area figure img {
        max-width: 90%;
        height: auto; }
  .popup-area .rules-data {
    padding: 5em 2% 1em;
    line-height: 1.2;
    height: 500px;
    overflow: auto; }
    .popup-area .rules-data h3 {
      text-transform: uppercase; }
    .popup-area .rules-data p {
      margin-bottom: 1em;
      text-align: left;
      font-size: 1.4em; }
    .popup-area .rules-data ol, .popup-area .rules-data ul {
      margin-bottom: 1em;
      margin-left: 1em;
      font-size: 13px; }
    .popup-area .rules-data li {
      margin-bottom: 0.5em;
      margin-left: 1em;
      text-align: left; }
    .popup-area .rules-data .col {
      border-top: 6px solid #276352;
      padding-top: 1em; }
    .popup-area .rules-data .col1 {
      width: 30%; }
    .popup-area .rules-data .col2 {
      width: 30%;
      margin-left: 5%; }
    .popup-area .rules-data .col3 {
      width: 30%;
      margin-left: 5%; }
  .popup-area .footer {
    background: #004834;
    text-align: center;
    color: #FFFFFF;
    font-size: 1.8em;
    padding: 1em 2%;
    line-height: 1.2; }
    .popup-area .footer a {
      color: #FFFFFF;
      text-decoration: underline; }
  .popup-area .external-img {
    bottom: -10%;
    position: absolute;
    text-align: right;
    max-width: 50%; }
    .popup-area .external-img.right {
      right: -20%;
      max-width: 36%; }
    .popup-area .external-img.left {
      left: -20%;
      bottom: -20%; }
    .popup-area .external-img img {
      width: 100%;
      height: auto; }

.page-form {
  margin: 0 auto;
  width: 90%;
  max-width: 844px;
  min-height: 700px;
  position: relative;
  z-index: 11;
  /*----Browse-----*/ }
  .page-form .element {
    margin-bottom: 4em; }
    .page-form .element.center {
      margin: 0 auto 4em;
      width: 50%; }
  .page-form input[type="text"] {
    background: none;
    border: 1px solid #365d50;
    line-height: 1.3;
    -khtml-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    color: #241617;
    padding: 1em;
    font-size: 1.6em;
    width: 100%; }
  .page-form input[type="text"].enter-code {
    font-family: "OpenSansBold", sans-serif;
    margin-top: 1em;
    width: 60%; }
  .page-form input[type="text"].error {
    border-color: #ff000d; }
    .page-form input[type="text"].error::-webkit-input-placeholder {
      color: #ff000d; }
    .page-form input[type="text"].error:-moz-placeholder {
      color: #ff000d; }
    .page-form input[type="text"].error::-moz-placeholder {
      color: #ff000d; }
    .page-form input[type="text"].error:-ms-input-placeholder {
      color: #ff000d; }
  .page-form .left {
    width: 48%; }
  .page-form .right {
    width: 48%; }
  .page-form .buttons {
    margin-bottom: 0 !important; }
    .page-form .buttons a, .page-form .buttons input {
      width: 100%; }
  .page-form .error-msg {
    color: #ff000d;
    font-size: 1.6em;
    text-align: center;
    margin: 0 auto 1em;
    max-width: 600px;
    width: 90%; }
  .page-form .tnc {
    text-align: left;
    color: #241617;
    margin: 0 auto 2em;
    width: 96%;
    max-width: 600px; }
    .page-form .tnc input[type=checkbox].css-checkbox {
      position: absolute;
      z-index: -1000;
      left: -1000px;
      overflow: hidden;
      clip: rect(0 0 0 0);
      height: 1px;
      width: 1px;
      margin: -1px;
      padding: 0;
      border: 0; }
    .page-form .tnc input[type=checkbox].css-checkbox + label.css-label {
      text-indent: 0;
      padding-left: 2em;
      font-size: 1.6em;
      font-weight: normal;
      min-height: 29px;
      line-height: 1.3;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: 0 0;
      vertical-align: middle;
      cursor: pointer; }
    .page-form .tnc input[type=checkbox].css-checkbox:checked + label.css-label {
      background-position: 0 -290px; }
    .page-form .tnc input[type=checkbox].css-checkbox + label.css-label.error {
      background-position: 0 -551px; }
    .page-form .tnc label.css-label {
      font-size: 1em;
      background-image: url(../images/chk-box.png);
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
      .page-form .tnc label.css-label a {
        text-decoration: underline; }
  .page-form .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }
  .page-form .inputfile + label {
    width: 100%;
    font-size: 1.8em;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: block;
    -khtml-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid #365d50;
    padding: 1em; }
  .page-form .inputfile.error + label {
    border-color: #ff000d; }
  .page-form .no-js .inputfile + label {
    display: none; }
  .page-form .inputfile:focus + label,
  .page-form .inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px; }
  .page-form .custom-file-input input {
    visibility: hidden;
    width: 100px;
    position: absolute;
    left: 0;
    top: 0; }
  .page-form .custom-file-input {
    display: block;
    color: #241617;
    border: 3px solid #363636;
    padding: 0.8em 1em;
    outline: none;
    -khtml-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.3;
    cursor: pointer;
    text-align: center;
    font-size: 1.6em;
    border-left: 0 none; }

@media screen and (max-width: 1180px) {
  /*1180px*/
  header .logo {
    padding: 1.5em 0; }
  .home-banner .copy-area {
    width: 65%; }
    .home-banner .copy-area h1 {
      font-size: 3em; }
    .home-banner .copy-area p {
      font-size: 1.8em; }
    .home-banner .copy-area .link {
      font-size: 1.8em; }
      .home-banner .copy-area .link img {
        max-height: 22px; }
  .form-steps ol li {
    font-size: 2.4em;
    margin: 0 0.5em; }
  .form-container h3 {
    font-size: 2.4em; }
  .form-container h4 {
    font-size: 2.1em; }
  .form-container p {
    font-size: 1.6em; }
  .page-form input[type="text"] {
    font-size: 1.6em; }
  .page-form .inputfile + label {
    font-size: 1.6em; }
  .page-form .tnc {
    max-width: 500px; }
    .page-form .tnc input.css-checkbox[type="checkbox"] + label.css-label {
      font-size: 1.6em; }
  .popup-area .external-img {
    display: none; }
  footer {
    background-size: cover; } }

@media screen and (max-width: 960px) {
  /*960px*/
  .home-banner .copy-area h1 {
    font-size: 2em; }
  .home-banner .copy-area .link img {
    max-height: 20px; }
  .form-container {
    padding: 3.5em 0; }
    .form-container:after, .form-container:before {
      display: none;
      background: none; }
  .page-form {
    min-height: auto; }
  .popup-area .prize-area {
    padding: 5em 5% 0; }
  .popup-area h3 {
    font-size: 3em; }
  .popup-area footer {
    font-size: 1.6em; }
  .form-steps ol li {
    font-size: 1.8em; }
  footer {
    padding: 6em 3% 3em; } }

@media screen and (max-width: 640px) {
  /*640px*/
  .main-container {
    width: 100%; }
  .home-banner .copy-area {
    position: relative;
    width: 100%;
    top: auto;
    transform: none;
    left: auto;
    background: #e8e8e8;
    -khtml-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2em 0; }
    .home-banner .copy-area h1 {
      line-height: 1.8; }
    .home-banner .copy-area p {
      text-align: center;
      font-size: 1.6em; }
    .home-banner .copy-area .link {
      font-size: 1.6em;
      padding-left: 0.5em; }
  .home-banner .bg .banner {
    margin-bottom: 0;
    padding-bottom: 3em;
    background: #e8e8e8; }
  .home-banner .bg .little-pony {
    bottom: 0;
    max-width: 30%; }
  .home-banner .bg .banner.non-mobile {
    display: none; }
  .home-banner .bg .banner.mobile {
    display: block; }
  .form-steps {
    margin-bottom: 1em;
    padding: 1em 0; }
    .form-steps ol {
      width: 80%;
      margin: 0 auto; }
      .form-steps ol li {
        font-size: 1.8em;
        display: block;
        text-align: left;
        margin: 1.2em 0.5em; }
  .form-container {
    padding: 3.5em 0; }
    .form-container p {
      font-size: 1.5em; }
      .form-container p br {
        display: none; }
  .page-form .element {
    margin-bottom: 2em; }
    .page-form .element.center {
      width: 100%;
      margin-bottom: 2em; }
  .page-form .left, .page-form .right {
    float: none;
    width: 100%; }
  .page-form .error-msg {
    font-size: 1.4em; }
  .page-form .tnc input.css-checkbox[type="checkbox"] + label.css-label {
    font-size: 1.4em;
    padding-left: 2.5em; }
  .page-form .buttons a, .page-form .buttons input, .page-form .buttons button {
    font-size: 1.6em; }
  .popup-area .prize-area {
    padding: 4em 4% 0; }
  .popup-area h3 {
    font-size: 2.4em; }
  .popup-area .footer {
    font-size: 1.6em; } }

@media screen and (max-width: 480px) {
  /*480px*/
  header .logo img {
    max-width: 90px; }
  .home-banner .copy-area p {
    font-size: 1.4em; }
  .form-container {
    padding: 2.5em 0; }
    .form-container h4 {
      padding-bottom: 0.5em; }
  .page-form input[type="text"] {
    font-size: 1.4em; }
  .page-form .tnc input.css-checkbox[type="checkbox"] + label.css-label {
    font-size: 1.3em; }
  .page-form .error-msg {
    font-size: 1.3em; }
  .page-form .upload {
    margin-top: 4em; }
  .popup-area h3 {
    font-size: 2.1em; }
  .popup-area .footer {
    font-size: 1.4em; } }

/*# sourceMappingURL=site.css.map */
